@media (max-width: 1024px){
.main_header{
    width: 100%;
}
.page_title{
    margin-left: 33px;
}

    .section1{ width: 100%;}
    .photo_div{width: 96%; margin-top: 20px;}
   
.section2{
    display: flex;
    flex-wrap: wrap;
    height: 700px;
}
.text_div{display: flex;
    gap: 100px;
width: 96%;}
.section2_text{
    margin-top: 6px;
}
.footer{width: 100%;
display: flex;
justify-content: space-around;
align-items: center;
gap: 500px;}
.page_title2{
    margin-left: 32px;
}
.list123{
    margin-right: 40px;
}
}
